<div>
    <div class="submit-form">
      <div *ngIf="!submitted">
        <div class="form-group">
          <label for="id"><strong>Gas Station ID</strong></label>
          <input
            type="text"
            class="form-control"
            id="stationID"
            required
            [(ngModel)]="order.stationID"
            name="stationID"
          />
        </div>
        <div class="form-group">
          <label for="name"><strong>Station Name</strong></label>
          <input
            class="form-control"
            id="stationName"
            required
            [(ngModel)]="order.stationName"
            name="stationName"
          />
        </div>
        <div class="form-group">
            <label for="location"><strong>Location</strong></label>
            <input
              class="form-control"
              id="location"
              required
              [(ngModel)]="order.location"
              name="location"
            />
          </div>
          <div class="form-group">
            <label for="capacity"><strong>Required Quantity</strong></label>
            <select class="form-control form-select" 
              id="requiredCapacity" 
              name="requiredCapacity"
              aria-label="Default select example"
              required
              [(ngModel)]="order.requiredCapacity">
              <option value="3300">3300</option>
              <option value="6600">6600</option>
              <option value="13200">13200</option>
            </select>
          </div>
          <div class="form-group">
            <label for="fuelType"><strong>Fuel Type</strong></label>
            <select class="form-control form-select" 
                    id="fuelType" 
                    name="fuelType"
                    aria-label="Default select example"
                    required
                    [(ngModel)]="order.fuelType">
              <option value="P92">Petrol 92</option>
              <option value="P95">Petrol 95</option>
              <option value="AD">Lanka Auto Diesel</option>
              <option value="SD">Lanka Super Diesel</option>
            </select>
          </div>
          <p></p>
        <button (click)="submitOrder()" class="btn btn-success">Submit</button>
      </div>
      <div *ngIf="submitted">
        <h4>Order was submitted to CPC!</h4>
        <h4>Note Your Reference Number: {{ response.orderRefId }}</h4>
        <button class="btn btn-success" (click)="newOrder()">Add</button>
      </div>
    </div>
  </div>